# Needed before any rewriting
RewriteEngine On

### Built using the .htaccess 301 Redirect Generator from Web Site Advantage
### http://seo-website-designer.com/HtAccess-301-Redirect-Generator
### Place after 'RewriteEngine On' and before any CMS specific rewrite rules

## 301 Redirects
# 301 Redirect 1
RewriteCond %{QUERY_STRING}  ^$
RewriteRule ^projects\.html$ /projects/? [R=301,NE,NC,L]

# 301 Redirect 2
RewriteCond %{QUERY_STRING}  ^$
RewriteRule ^techblog/index\.html$ /blog/? [R=301,NE,NC,L]

# 301 Redirect 3
RewriteCond %{QUERY_STRING}  ^$
RewriteRule ^techblog/mixing_http_https_in_mvc\.html$ /blog/2013/01/mixing-http-https-in-mvc/? [R=301,NE,NC,L]

# 301 Redirect 4
RewriteCond %{QUERY_STRING}  ^$
RewriteRule ^techblog/webapi_route_testing\.html$ /blog/2013/01/webapi-route-testing/? [R=301,NE,NC,L]

# 301 Redirect 5
RewriteCond %{QUERY_STRING}  ^$
RewriteRule ^techblog/webapi_mixed_rest_rpc_routing\.html$ /blog/2013/01/webapi-mixed-rest-rpc-routing/? [R=301,NE,NC,L]

# 301 Redirect 6
RewriteCond %{QUERY_STRING}  ^$
RewriteRule ^techblog/entity_framework_generic_methods\.html$ /blog/2012/12/entity-framework-generic-methods/? [R=301,NE,NC,L]

# 301 Redirect 7
RewriteCond %{QUERY_STRING}  ^$
RewriteRule ^techblog/unit_testing_mvc_bundles\.html$ /blog/2012/10/unit-testing-mvc-bundles/? [R=301,NE,NC,L]

# 301 Redirect 8
RewriteCond %{QUERY_STRING}  ^$
RewriteRule ^techblog/compile_time_support_for_mvc_views\.html$ /blog/2012/09/compile-time-support-for-mvc-views/? [R=301,NE,NC,L]

# 301 Redirect 9
RewriteCond %{QUERY_STRING}  ^$
RewriteRule ^techblog/when_to_implement_equality\.html$ /blog/2012/09/when-to-implement-equality/? [R=301,NE,NC,L]

# 301 Redirect 10
RewriteCond %{QUERY_STRING}  ^$
RewriteRule ^techblog/webapi_datetime\.html$ /blog/2012/08/webapi-datetime/? [R=301,NE,NC,L]

# 301 Redirect 11
RewriteCond %{QUERY_STRING}  ^$
RewriteRule ^techblog/setting_up_jenkins_on_azure\.html$ /blog/2013/02/setting-up-jenkins-on-azure/? [R=301,NE,NC,L]

# 301 Redirect 12
RewriteCond %{QUERY_STRING}  ^$
RewriteRule ^techblog/intellitrace_newrelic_azure_performance\.html$ /blog/2012/08/intellitrace-newrelic-azure-performance/? [R=301,NE,NC,L]

# 301 Redirect 13
RewriteCond %{QUERY_STRING}  ^$
RewriteRule ^techblog/knockoutjs_tips\.html$ /blog/2012/12/knockout-observables/? [R=301,NE,NC,L]

# 301 Redirect 14
RewriteCond %{QUERY_STRING}  ^$
RewriteRule ^techblog/page_too_wide_on_mobile_browser\.html$ /blog/2012/02/page-too-wide-on-mobile-browser/? [R=301,NE,NC,L]

# 301 Redirect 15
RewriteCond %{QUERY_STRING}  ^$
RewriteRule ^techblog/google_analytics_ignore_your_traffic\.html$ /blog/2012/02/google-analytics-ignore-your-traffic/? [R=301,NE,NC,L]

# 301 Redirect 16
RewriteCond %{QUERY_STRING}  ^$
RewriteRule ^techblog/windows7_macbook_air\.html$ /blog/2012/02/windows7-macbook-air/? [R=301,NE,NC,L]

# 301 Redirect 17
RewriteCond %{QUERY_STRING}  ^$
RewriteRule ^techblog/$ /blog/? [R=301,NE,NC,L]