@import url(variables.css);

body {
  background-color: var(--main-background);
}

header {
  text-align: center;
  margin-top: 1.5rem;
}

a {
  color: var(--bright-link);
}
a:visited,
a:active {
  color: var(--dark-link);
}
a:hover {
  color: var(--dark-link);
}


body {
 line-height:1.5em;
 color:var(--main-text);
}
h1,h2,h3,h4,h5,h6 {
 font-family:"Bookman Old Style",Palatino,"Palatino Linotype",Utopia,Georgia,serif
}
.mono,pre,code {
 font-family:Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace
}
h1 {
 font-size: 2em;
 font-weight: bold;
 line-height: 1.2em;
}
h5 {
  text-align: center;
}
#top {
    border-bottom: 1px solid var(--dark-background);
}

#top.hide-sm {
  display: block;
}

ul.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.1rem;
  list-style: none;
  flex-wrap: wrap;
}

.main-navigation li {
  margin: 1em;
}

.main-navigation a {
  color: var(--dark-link);
}

.main-navigation a:hover {
  color: var(--bright-link);
}

.main-navigation a,
.main-navigation a:hover {
  text-decoration: none;
}

hr {
  border-top: 1px solid var(--dark-background);
  border-bottom: none;
  margin: 1em 0 1em 0;
}

#post img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: .3em;
}

#post img.borderless {
    border: none;
}

#social-media {
  text-align: center;
  font-weight: bold;
}

#social-media a{
  padding-left: 1em;
  text-decoration: none;
}

#social-media a.fa-github,
#social-media a.fa-github:hover,
#social-media a.fa-github:visited {
  color: black;
}

#social-media a.fa-linkedin,
#social-media a.fa-linkedin:hover,
#social-media a.fa-linkedin:visited {
  color: #4875B4;
}

#social-media a.fa-twitter,
#social-media a.fa-twitter:hover,
#social-media a.fa-twitter:visited {
  color: #00ACED;
}

.project, .talk {
  padding-bottom: 1em;
}

.project .title,
.talk .title {
  padding-bottom: 1em;
  border-bottom: 1px solid var(--bright-link);
}

.project img {
  margin-right: 1em;
  margin-left: 0;
  display: inline;
  background-color: white;
  max-width: 64px;
}

.project a {
  font-weight: bold;
  color: var(--bright-link);
  text-decoration: none;
}

.project .technologies,
.project .locations {
  color: #666666;
  text-align: right;
}

/* Blog */
#post blockquote {
	font-size: 1em;
}

#post aside {
    border: thin solid grey;
    background-color: #F7F5EF;
    padding: 0;
}

#post aside p {
  margin: 0;
  padding: 0;
}

#post pre {
  border: 1px dashed SteelBlue;
  background-color: WhiteSmoke;
  border-radius: 0;
  padding: 0;
}

#post figcaption {
  font-size: .75em;
  text-align: center;
}

/* Poor man's figcaption in markdown */
img + em {
  font-size: .9em;
  display: block;
  text-align: center;
}

#post .emoji {
  width: 1.1em;
  height: 1.1em;
  border: none;
  border-radius: none;
  box-shadow: none;
}

pre code, li pre code, p pre code {
  white-space: pre;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  font-size: 0.9em;
  color: black;
  display: block;
  margin: 0 0;
}

.gist {
  font-size: .9em;
}

.line-numbers {
  display: none;
}

.comments-link {
  text-align: right;
}

.gist table.lines {
  width: 100%;
}

.flash-video {
  display: inline;
}

#posts {
  text-align: left;
  margin: 1rem;
}

#posts h2 {
  font-size: 1.5rem;
}
#posts time {
  font-size: 1.1rem;
}

.post-time {
  text-transform: uppercase;
  color: grey;
  font-family: "PT Sans","Helvetica Neue",Arial,sans-serif;
  font-size: 1.2rem;
}

.hero {
  display: flex; 
  justify-content: center;
  align-items:center; 
  flex-direction: row
}

.hero > * {
  flex-basis: 50%;
}

.profile-photo {
  min-width: 10em;
  max-width: 25%;
}

.tiles {
  list-style-type:none;
  font-size: 1.1rem;
  margin: 0;

  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.tiles li {
  text-align: center;
  border:solid #b5b9bb 2px;
  margin: 1em;
  background-color:var(--light-background);
  color: var(--dark-text);
  border-radius: 5px;
  padding: 1em;
  line-height: 1.2em;

  min-width: 10em;
  flex-basis: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tiles span {
  display: block;
  font-size: 2em;
  margin: 10px;
}

.tiles p {
  font-size: .8em;
  margin-bottom: 0;
}

.wall-of-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wall-of-text p {
  flex-basis: 0;
  max-width: 48em;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 55em) {
  .hero {
    flex-direction: column;
  }
}

.embedded-video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  margin-bottom: 1em;
}

.embedded-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#post figure {
  text-align: center;
  float: right;
  margin: 5px;
}

#post figure img {
  max-width:300px;
  max-height:200px;
  width: auto;
  height: auto;
}

@media screen and (max-width: 600px) {
  #post figure {
    float: none;
  }
}