<ul class="main-navigation">
  <li>
      <a href="{{ root_url }}/projects/" title="I &lt;3 code!">
        <i class="fa fa-github fa-3x"></i><br/>
        Projects
    </a>
  </li>
  <li>
      <a href="{{ root_url }}/blog/" title="Today I Learned...">
          <i class="fa fa-file-text fa-3x"></i><br/>
          Writing
      </a>
  </li>
  <li>
      <a href="{{ root_url }}/talk/" title="Who doesn't love preparing a talk on their weekend?">
          <i class="fa fa-comment fa-3x"></i><br/>
          Talks
      </a>
  </li>
</ul>
