.reveal figcaption {
  font-size: smaller;
  font-style: italic;
  text-align: center;
}

.reveal .highlight {
  white-space: nowrap;
  color: #9575d1;
}
.reveal .comment {
  font-size: smaller;
  font-style: italic;
}

.reveal .big {
  font-size: 1.2em;
  line-height: 1.2em;
}

.reveal .huge {
  font-size: 2em;
  line-height: 2em;
}

.reveal .blue {
  color: #6dbcdb;
}

.reveal .green {
  color: #8BC34A;
}

.reveal .purple {
  color: #9575d1;
}

blockquote {
  text-align: left;
}

.code-title {
  text-align: left;
  font-size: 0.8em;
}

slide-footer{
  position: fixed;
  bottom: 1em;
  left: 1em;
  display: table;
  width: 100%;
  padding-top: 2em;
  text-align: left;
  color: #8BC34A;
  font-size: 0.75em;
}

slide-footer #twitter {
  float: right;
  padding-right: 2em;
}

section slide-footer{
  display: block;
  padding-top: 2em;
  text-align: center;
  color: #8BC34A;
  font-size: 0.75em;
}

.reveal slide-footer a, slide-footer a,
.reveal slide-footer a:visited, slide-footer a:visited,
.reveal slide-footer a:hover, slide-footer a:hover {
  color: #8BC34A;;
  font-size: smaller;
}

.reveal pre code {
  max-height: 100%;
}

.reveal .code-source {
  font-size: smaller;
  font-style: italic;
  text-align: right;
}

/*
 Replace a fragment with another
 See https://github.com/hakimel/reveal.js/issues/745#issuecomment-422507012
 */
.reveal .slides section .fragment.step-fade-in-then-out {
	opacity: 0;
	display: none; }
.reveal .slides section .fragment.step-fade-in-then-out.current-fragment {
	opacity: 1;
	display: inline; }