.reveal figcaption {
  font-size: smaller;
  font-style: italic;
  text-align: center;
}

.reveal .comment {
  font-size: smaller;
  font-style: italic;
}

.reveal .big {
  font-size: larger;
}

.blue {
  color: #6dbcdb;
}

.green {
  color: #8BC34A;
}

.reveal .purple {
  color: #9575d1;
}

blockquote {
  text-align: left;
}

.code-title {
  text-align: left;
  font-size: 0.8em;
}

slide-footer{
  position: fixed;
  bottom: 0;
  display: table;
  width: 100%;
  padding-top: 2em;
  text-align: center;
  color: lightgreen;
  font-size: 0.75em;
}

section slide-footer{
  display: block;
  padding-top: 2em;
  text-align: center;
  color: lightgreen;
  font-size: 0.75em;
}

.reveal slide-footer a, slide-footer a,
.reveal slide-footer a:visited, slide-footer a:visited,
.reveal slide-footer a:hover, slide-footer a:hover {
  color: lightgreen;
}
